
.left-panel {
    border-right: 1px solid #FEDED9;
}

.right-panel {
    /*border: 1px solid #909DC7;*/
}

.table td {
    text-align: center;
}

input[type=text] {
    margin-top: 10px;
}

.mv-vis-container {}

.mv-table-container {
    overflow-y: auto;
    /*height: 40%;*/
}

.mve-select {
    margin: 20px auto 20px auto;
}

.mve-species h2 {
    color: #E94E77;
}

.enrichment h1, .enrichment h2 {
    text-align: center;
    margin: 100px auto 45px auto;
}

.mve-annotations {
    padding: 2em 1em;
}
.mve-annotations input[type="checkbox"] {
    margin: 0.8em 0.5em 0.8em 1.2em;
}

body {
    margin: 8em auto 12em auto;
}


.modal-dialog {
    width: 80%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


@media (min-width: 1024px) {

.query-buttons {
    position: fixed;
    top: 70px;
    right: 0px;
}

}